@import 'carbon-components/scss/globals/scss/vendor/@carbon/type/scss/font-family.scss';
@import 'carbon-components/scss/globals/scss/vendor/@carbon/layout/scss/breakpoint.scss';
@import 'carbon-components/scss/globals/scss/typography.scss';
@import 'carbon-components/scss/globals/scss/vars.scss';

@import "~bootstrap/scss/bootstrap";

@import './components/Info/info.scss';

@import './components/TutorialHeader/tutorial-header.scss';
@import './content/LandingPage/landing-page.scss';
@import './content/StatusPage/status-page.scss';
@import './content/VisualizationsPage/visualizations-page.scss';
@import './content/DatabasePage/database-page.scss';
@import './content/ConfigurationPage/configuration-page.scss';

