# Workflow to run unit tests from Github Actions.
# Inspired from: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  schedule:
    - cron: '44 4 * * *'
  release:
    types: [published]
  workflow_dispatch:

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [12.x, 14.x, 16.x]

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
      # Launch an orion server
      - name: Launch Orion server
        uses: actions/setup-python@v2
        with:
          python-version: 3.8
      - name: Install an orion version supporting CORS
      - run: python -m pip install git+https://github.com/notoraptor/orion.git@8b2578803948a3fda31fa0ac6f475fe0f296aa95
      - run: nohup orion serve -c .github/workflows/orion/config.txt &
      # install
      - run: yarn
      # check files formatting using Carbon's `ci-check` script
      - run: yarn ci-check
      # Run all available tests
      - run: yarn test --all --verbose
